@import url('https://fonts.googleapis.com/css2?family=Alice&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Dosis:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: Benedict;
  src: url('./assets/fonts/Benedict.otf') format('opentype');
}

@theme {
  --color-tanigma-aqua: #83c0c1;
  --color-tanigma-sky: #cde8f7;
  --color-tanigma-blush: #ffd9dc;
  --color-tanigma-rose: #eb8db5;
  --color-tanigma-mauve: #d4a3c4;

  --font-tanigma-titles: 'Alice', sans-serif;
  --font-tanigma-text: 'Dosis', sans-serif;
  --font-tanigma-variation: 'Benedict', sans-serif;
}

html,
body {
  /* background: #ffd9dc; */
  background: color-mix(in srgb, #ffd9dc, transparent 50%);
}
